body {
  color: #395886;
  background-color: #B1C9Ef;
  font-family: "Bungee";
}
.bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 5vw;
  margin-top: .5em;
}

a {
text-decoration: none;
}

.main-title {
  text-align: center;
}

.card {
  color: #d5deef;
  background-color: #395886;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Adds a shadow for depth */
  max-width: 300px; /* Sets a fixed width for the card */
  margin: auto; /* Centers the card horizontally */
  text-align: center; /* Centers the text */
  font-family: sans-serif;
  border-radius: 5px; /* Rounds the corners */
  transition: 0.3s; /* Smooth transition for hover effect */
  margin-bottom: 2em;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Enlarges shadow on hover */
}

.container {
  padding: 2px 16px; /* Adds space around the text */
}

img {
  border-radius: 5px 5px 0 0; /* Rounds the top corners of the image */
}

#penguin-name {
  font-size: 2.5vw;
  margin-top: 1em;
  font-family: "Bungee";
  color: white;
}

span {
  margin-left: 2vw;
}

ul {
  margin-right: 2vw;
}