body {
  color: #395886;
  background-color: #B1C9Ef;
  font-family: "Bungee";
}
.bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 5vw;
  margin-top: .5em;
  color: #395886;
}

a {
  text-decoration: none;
}

.main-title {
  text-align: center;
}

.card {
  color: #d5deef;
  background-color: #395886;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Adds a shadow for depth */
  max-width: 300px; /* Sets a fixed width for the card */
  margin: auto; /* Centers the card horizontally */
  text-align: center; /* Centers the text */
  font-family: sans-serif;
  border-radius: 5px; /* Rounds the corners */
  transition: 0.3s; /* Smooth transition for hover effect */
  margin-bottom: 2em;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Enlarges shadow on hover */
}

.container {
  padding: 2px 16px; /* Adds space around the text */
}


#penguin-name {
  font-size: 2.2vw;
  margin-top: 1em;
  font-family: "Bungee";
  color: white;
}

span {
  margin-left: 2vw;
}

ul {
  margin-right: 2vw;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 1vw;
}
    
.div1 {
    grid-row: span 6 / span 6;
}

.penguin-image {
  border-radius: 2em;
}

.div2 {
  color: white;
  font-size: 3.5vw;
  grid-column: 2 / 2;
}

.div3 {
    font-size: 1.6vw;
    margin-right:  2vw;
    grid-row: span 4 / span 4;
    grid-column-start: 2;
}
h5 {
  font-size: 2.5vw;
}
h4 {
  color: white;
  font-size: 2vw;
}

.div4 {
  color:  white;
    font-size: 2vw;
    grid-column-start: 2;
    grid-row-start: 6;
}

.text-body-secondary {
  color: white;
}
        