

.main-title {
  text-align: center;
}

card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Adds a shadow for depth */
  max-width: 300px; /* Sets a fixed width for the card */
  margin: auto; /* Centers the card horizontally */
  text-align: center; /* Centers the text */
  font-family: sans-serif;
  border-radius: 5px; /* Rounds the corners */
  transition: 0.3s; /* Smooth transition for hover effect */
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Enlarges shadow on hover */
}

.container {
  padding: 2px 16px; /* Adds space around the text */
}

img {
  border-radius: 5px 5px 0 0; /* Rounds the top corners of the image */
}

#penguin-name {
  color: black;
}

